<p>
  Welcome to the <a href="http://github.com/zipmark/rspec_api_documentation">rspec_api_documentation</a> and <a href="http://github.com/smartlogic/raddocs">raddocs</a> gem docs example.
</p>
<p>
  To see HTML docs <a href="/docs">click here</a>.
</p>
<p>
  To see console docs use the following command:
</p>
<pre>
  curl -H "Accept: text/docs+plain" http://rad-example.herokuapp.com/orders
</pre>
